<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">{{ portfolio.user.first_name }}
            <span class="text-primary">{{ portfolio.user.last_name }}</span>
        </h1>
        <div class="subheading mb-5"><i class="fa fa-birthday-cake"
                                        aria-hidden="true"></i> {{ portfolio.birth_date.month }}
            <sup>st</sup> {{ portfolio.birth_date.day }} {{ portfolio.birth_date.year }} · <i class="fa fa-mobile"
                                                                                              aria-hidden="true"></i> {{ portfolio.phone_number }}
            ·
            <i class="fa fa-envelope" aria-hidden="true"></i> <a
                    href="mailto:name@email.com">{{ portfolio.user.email }}</a> · <i class="fa fa-map-marker"
                                                                                     aria-hidden="true"></i> {{ portfolio.postal_code }}
            · {{ portfolio.street_address }} · {{ portfolio.city }} · {{ portfolio.country }}
        </div>
        <p class="mb-5">{{ portfolio.professional_summary }}</p>
        <ul class="list-inline list-social-icons mb-0">
            {% if portfolio.facebook %}
                <li class="list-inline-item">
                    <a href="{{ portfolio.facebook }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
            {% endif %}
            {% if portfolio.twitter %}
                <li class="list-inline-item">
                    <a href="{{ portfolio.twitter }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
            {% endif %}

            {% if portfolio.linkedin %}
                <li class="list-inline-item">
                    <a href="{{ portfolio.linkedin }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
            {% endif %}
            {% if portfolio.github %}
                <li class="list-inline-item">
                    <a href="{{ portfolio.github }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                    </a>
                </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated and  user.is_superuser %}
            <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                    data-target=".about_me_modal">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
            <div class="modal fade about_me_modal" tabindex="-1" role="form" aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{% url 'about_edit' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ about_form }}
                                <input type="submit" class="btn btn-lg btn-success float-right"
                                       value="Save changes"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>