<div class="resume-item d-flex flex-column flex-md-row mb-5">
    <div class="resume-content mr-auto">
        <h3 class="mb-0">{{ education.school }}</h3>
        <div class="subheading mb-3">{{ education.degree }}</div>
        <div>{{ education.field_of_study }}</div>
        <p>GPA: {{ education.grade }}</p>
        <p>{{ education.description }}</p>
    </div>
    <div class="resume-date text-md-right">
        <span class="text-primary">{{ education.start_month }} {{ education.start_year }} - {{ education.end_month }} {{ education.end_year }}</span>
    </div>
</div>