<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
        {% if not is_update_page %}
            <a href="{% url 'skill' %}" class="btn btn-primary float-right">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
        {% else %}
            <a href="{% url 'home' %}#skills" class="btn btn-primary">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            {% include 'Portfolio/_create_modal.html' %}
        {% endif %}
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline list-icons">
            {% for object in portfolio.skill_set.all %}
                <li class="list-inline-item">
                    <i class="devicons devicons-{{ object.title }}"></i>
                    {% if is_update_page %}
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="{% url 'skill_delete' pk=object.pk %}" class="btn btn-warning">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    {% endif %}


                </li>
            {% endfor %}
        </ul>
    </div>
</section>