{% extends 'Portfolio/base.html' %}

{% block body %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="modal fade profile_update_modal" tabindex="-1" role="form" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'profile' %}">
                        {% csrf_token %}
                        {{ profile_form }}
                        <input type="submit" class="btn btn-sm btn-success float-right mt-3"
                               value="Save changes"/>
                    </form>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-primary mt-3">Log Out</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
            <h1 class="mb-0">{{ portfolio.user.first_name }}
                <span class="text-primary">{{ portfolio.user.last_name }}</span>
            </h1>
            <div class="subheading mb-5">
                {% if portfolio.resume %}
                    <a href="{{ portfolio.resume.url }}">resume</a> · 
                {% endif %}
                {{ portfolio.birth_date.day }} <sup>st</sup> {{ portfolio.birth_date |date:"M Y" }} ·
                {% if not portfolio.hide_sensitive %}
                    {{ portfolio.phone_number }} ·
                {% endif %}
                <a href="mailto:name@email.com"> {{ portfolio.user.email }}</a>
                {% if not portfolio.hide_sensitive %}
                    · {{ portfolio.postal_code }}
                    · {{ portfolio.street_address }} · {{ portfolio.city }} · {{ portfolio.country }}  ·
                {% endif %}
            </div>
            <p class="mb-5">{{ portfolio.professional_summary }}</p>
            <ul class="list-inline list-social-icons mb-0">
                {% if portfolio.facebook %}
                    <li class="list-inline-item">
                        <a href="{{ portfolio.facebook }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                {% endif %}
                {% if portfolio.twitter %}
                    <li class="list-inline-item">
                        <a href="{{ portfolio.twitter }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                {% endif %}
                {% if portfolio.linkedin %}
                    <li class="list-inline-item">
                        <a href="{{ portfolio.linkedin }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                {% endif %}
                {% if portfolio.github %}
                    <li class="list-inline-item">
                        <a href="{{ portfolio.github }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated and perms.Portfolio.change_portfolio %}
                <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                        data-target=".about_me_modal">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <div class="modal fade about_me_modal" tabindex="-1" role="form" aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'about' %}" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ about_form }}
                                    <input type="submit" class="btn btn-sm btn-success float-right mt-3"
                                           value="Save changes"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    {% include 'Portfolio/_experience.html' %}

    {% include 'Portfolio/_education.html' %}

    {% include 'Portfolio/_skills.html' %}

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
            {% if user.is_authenticated and perms.Portfolio.change_portfolio %}
                <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                        data-target=".interest_modal">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <div class="modal fade interest_modal" tabindex="-1" role="form" aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'interest' %}">
                                    {% csrf_token %}
                                    {{ interest_form }}
                                    <input type="submit" class="btn btn-sm btn-success float-right mt-3"
                                           value="Save changes"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <h2 class="mb-5">Interests</h2>
            <p class="mb-0">{{ portfolio.interests }}</p>
        </div>
    </section>

    {% include 'Portfolio/_certificate.html' %}

{% endblock body %}